<article class="row my-3 pb-3">
    <h2><a href="/family-member/<%=profile.pname%>/blog/<%=blogPost.slug%>"><%=blogPost.title%></a></h2>
    <p><small>By <%=profile.name%> | <%=blogPost.date.toLocaleDateString('en-us', { year:"numeric",
                    month:"short", day:"numeric"})%></small></p>
    <div><%-blogPost.content%></div>
</article>
<hr>