<% layout('/layouts/boilerplate') %>
  <h2 class="h1">Edit profile</h2>
  <form action="/family-member/<%= profile._id %>?_method=PUT" method="POST" novalidate class="validated-form">
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <label class="form-label" for="name">Name</label>
          <input class="form-control" type="text" name="name" id="name" placeholder="name" spellcheck="true"
            value="<%= profile.name %>" aria-describedby="name" required>
        </div>
        <div class="mb-3">
          <label class="form-label" for="age">Age</label>
          <input class="form-control" type="number" name="age" id="age" placeholder="age" aria-describedby="age" value="<%= profile.age %>"
            required>
        </div>
        <div class="mb-3">
          <label class="form-label" for="job">Occupation</label>
          <input class="form-control" type="string" name="job" id="job" placeholder="job" spellcheck="true" aria-describedby="job"
            value="<%= profile.job %>" required>
        </div>
        <div class="mb-3">
          <label class="form-label" for="image">Image path</label>
          <input class="form-control" type="text" name="image" id="image" placeholder="image path" aria-describedby="image"
            value="<%= profile.photoUrl %>" required>
        </div>
      </div>
      <div class="col">
        <label class="form-label" for="bio">Bio</label>
        <input type="hidden" name="bio" id="bio" aria-describedby="bio" required>
        <div id="editor-container" style="max-height: 350px;"><%- profile.bio %></div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary mb-3">Submit</button>
  </form>
  <a href="/family-member/<%= profile._id %>">Cancel</a>