<% layout('/layouts/boilerplate') %>
  <div class="row">
    <div class="col">
      <h2 class="h1 d-inline"><%=profile.name%></h2>
      <p class="h2 d-inline">, <em><%=profile.age%></em></p>
      <p><em><%=profile.job%></em></p>
    </div>
    <div class="col">
      <div class="text-end">
        <a href="/family-member/<%=profile._id%>/edit" class="btn btn-info">Edit</a>
        <a href="/family-member/<%=profile._id%>/blog" class="btn btn-primary">Visit blog</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      <img src="<%=profile.photoUrl%>" class="float-start me-4" width="400" alt="" />
      <div><%-profile.bio%></div>
    </div>
    
    <div class="col-md-2">
      <%-include('../partials/blog-list')%>
    </div>
  </div>

  