<% layout('/layouts/boilerplate') %>
  <div class="row">
    <div class="col">
      <h2 class="h1 d-inline"><%=profile.name%></h2>
      <p class="h2 d-inline">, <em><%=profile.age%></em></p>
      <p><em><%=profile.job%></em></p>
    </div>
    <div class="col">
      <div class="text-end">
        <a href="/family-member/<%=profile._id%>/edit" class="btn btn-danger">Edit</a>
        <a href="/family-member/<%=profile._id%>/blog" class="btn btn-primary">Visit blog</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img src="<%=profile.photoUrl%>" class="img-responsive w-100" alt="" />
    </div>
    <div class="col"><%-profile.bio%></div>
  </div>