<% layout('/layouts/boilerplate') %>
    <div class="row">
        <% if(currentUser && profile.equals(currentUser._id)) { %>
            <div class="col text-end">
                <a class="btn btn-primary" href="/family-member/<%=profile.pname%>/blog/new">New Post</a>
            </div>
            <% } %>
    </div>
    <div class="row">
        <a href="/family-member/<%=profile.pname%>"><small><i class="bi bi-chevron-left me-1"></i></small>
            <%=profile.name%>'s profile
        </a>
        <div class="col-lg-10">
            <% for (let blogPost of blogPosts) { %>
                <%-include('../../partials/blog-article', { blogPost: blogPost })%>
                    <% } %>
        </div>

        <div class="col-lg-2">
            <%-include('../../partials/blog-list')%>
        </div>
    </div>