<% layout('/layouts/boilerplate') %>
<h2 class="h1"><%=profile.name%>'s Blog</h2>
<ul>
    <% for (let blogPost of blogPosts) { %>
        <li><a href="/family-member/<%=profile._id%>/blog/<%=blogPost._id%>"><%=blogPost.title%></a></li>
   <% } %>
</ul>
<a href="/family-member/<%=profile._id%>/blog/new">New Post</a>