<% layout('/layouts/boilerplate') %>
    <div class="mb-3">
        <a class="btn btn-info" href="/family-member/<%=profile._id%>/blog/<%=blogPost._id%>/edit">Edit
            Post</a>
        <form class="d-inline" action="/family-member/<%=profile._id%>/blog/<%=blogPost._id%>?_method=DELETE"
            method="POST">
            <button type="submit" class="btn btn-danger">Delete Post</button>
        </form>
    </div>
    <div class="row">
        <div class="col-lg-10">
            <article>
                <h2>
                    <%=blogPost.title%>
                </h2>
                <p><small>By <%=blogPost.profile.name%> | <%=blogPost.date.toLocaleDateString('en-us', { year:"numeric",
                                month:"short", day:"numeric"})%></small></p>
                <div><%-blogPost.content%></div>
            </article>
        </div>
        <div class="col-lg-2">
            <%-include('../../partials/blog-list')%>
        </div>
    </div>